/*
  Common css tags
  -------------------------

  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height : 1.5;

  color: #c30;
  background-color: #f90;

  display: none;

  margin: 10px 20px 30px 40px;
  padding: 10px 20px 30px 40px;
  border: 1px solid #222;
  border-radius: 4px;
  width: 200px;
  height: 200px;

*/

aside,footer{
  background-color: black;
  color: white;
  padding: 10px;
}

footer{
  font-size: 24px;
  background-color: yellow;
}

h1{
  color: grey;
  font-size: 80px;
}

footer h1{
  color: red;
  font-size: 24px;
}

aside footer h1{
  color: black;
  background-color: yellow;
}